
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.register-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-width: 1200px;
    max-width: 1700px;
    height: 100%;

  }
  .form-head {
    margin-bottom: 20px;
  }
  .image-container {
    flex: 1;
  }
  
  .registration-image {
    width: 500px;
    height: auto;
  }
  
  .form-container {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  